@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (width < 64rem /* 1024px */) {
  .container {
    max-width: 1440px;
    margin: auto;
    padding-inline: 18px;
    padding-top: 18px;
  }
}

@media (width >= 64rem /* 1024px */) {
  .container {
    max-width: 1440px;
    margin: auto;
    padding-inline: 42px;
    padding-top: 18px;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) skewX(-12deg);
  }
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}
